* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.Container {
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    height: 100%;
    width: 60%;
    /* margin: 0 auto; */
  }
  
  .Container-title {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
    display: grid;
    grid-template-columns: 2fr 4fr;
    justify-content:left ;
    align-items:center ;
  }
  
  .Container-title h4 {
    font-size: 1.5rem;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  /* Main Section */
  .Container-main {
    /* text-align: center; */
    margin-bottom: 30px;
  }
  
  .Container-main h2 {
    text-align: left;
    font-size: 2rem;
    color: #222;
    margin-bottom: 15px;
  }
  
  .Container-main p {
    font-size: 1.5rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  /* Button Styles */
  .start-button {
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .start-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  
  .start-button:focus {
    outline: none;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .Container {
      width: 95%;
      padding: 15px;
    }
  
    .Container-main h2 {
      font-size: 1.5rem;
    }
  
    .Container-main p {
      font-size: 0.9rem;
    }
  
    .start-button {
      font-size: 0.9rem;
      padding: 8px 16px;
    }
  }
  