    .College {
        padding: 2rem 0;
        margin: 2rem 0;
        width: 90%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .College h2 {
        font-size: 2rem;
        padding: 1rem 0;
    }

    .College-Persons {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .College-Persons img {
        width: 15%;
        margin: 1rem;
        border-radius: 100%;
    }

    .College-Persons img.blurred {
        opacity: 0.5;
    }

    .college-msg,
    .college-description {
        margin: 1rem 0;
        font-size: 1.2rem;
        line-height: 1.5;
        color: #333;
    }

    .college-logo img {
        width: 120px;
        height: auto;
        margin-top: 1.5rem;
    }

    .college-persons-details {
        margin-top: 1.5rem;
    }

    .person-detail {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
        text-align: center;
    }

    .person-name {
        font-weight: bold;
        font-size: 1.5rem;
        color: #333;
    }

    .person-designation,
    .person-university {
        font-size: 1rem;
        color: #777;
    }